.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #33333a;
}

.header {
  display: flex;
  top: 0;
  background-color: #33333a;
  color: #fff;
  padding: 0.625rem 0.625rem;
  border-bottom: 1px solid #ddd;
  justify-content: space-between; /* 양쪽 끝으로 정렬 */
  align-items: center; /* 수직 정렬 */

  h1 {
    font-family: sans-serif;
    margin-bottom: 0.5rem;
  }
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 0.625rem;
  .styled-button {
    background-color: #1976d2;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: #1565c0;
    }
  }
}

.dialog-insert-roominfos {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 1px solid #ddd;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  .dialog-content {
    .dialog-sub-content {
      display: flex;
      align-items: center;
      justify-content: center;
      .fixed-span {
        width: 10rem; /* 고정 너비 */
        white-space: nowrap; /* 텍스트가 줄 바꿈되지 않도록 */
        // overflow: hidden; /* 넘치는 텍스트 숨기기 */
        // text-overflow: ellipsis; /* 넘치는 텍스트에 ... 표시 */
      }

      input {
        margin: 0.5rem 0;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        flex-grow: 1; /* input이 남은 공간을 차지하도록 */
      }
      .select-day {
        flex-grow: 1; /* input이 남은 공간을 차지하도록 */
        select {
          margin: 0.5rem 0;
          padding: 0.5rem;
          border: 1px solid #ccc;
          border-radius: 4px;
        }
      }
    }
    .error-text {
      color: red;
    }

    .dialog-actions {
      display: flex;
      justify-content: flex-end;
      margin-top: 1rem;

      button {
        margin-left: 0.5rem;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 4px;
        cursor: pointer;

        &:first-child {
          background-color: #ccc;
        }

        &:last-child {
          background-color: #1976d2;
          color: white;
        }
      }
    }
  }
}

.room-list {
  display: flex;
  overflow-y: auto;
  padding: 1rem;
  flex: none;

  .room-card {
    background-color: #f8dfff;
    color: #0d47a1;
    padding: 1rem;
    margin-left: 1rem;
    border-radius: 12px;
    margin-bottom: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
}
